# Django
*.sqlite3
*.pyc
__pycache__/
migrations/

# Virtual environments
.venv/
venv/
env/

# Streamlit
.streamlit/

# Docker
Dockerfile.dev

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local